<!DOCTYPE html>
<html>

<head>
    <title>Contact us</title>
</head>

<body>
  <div class="leftform">
    <h3>Contact us</h3>
    <hr/>
    <header>Contact pro.uidevelopers for more information</header>
    <br>
    <table>
        <tr>
            <td>Main number</td>
            <td>xxx xx xx</td>
        </tr>
        <tr>
            <td>Marketing</td>
            <td>xxx xx xx</td>
        </tr>
        <tr>
            <td>HR</td>
            <td>xxx xx xx</td>
        </tr>
        <tr>
            <td>sales</td>
            <td>xxx xx xx</td>
        </tr>
        <tr>
            <td>Fax</td>
            <td>xxx xx xx</td>
        </tr>
    </table>
    <br/>
    <div>
        <p>Email: <a href="#">info@pro.uidevelopers.com</a></p>
        <p>Jobs: <a href="#">jobs@pro.uidevelopers.com</a></p>
    </div>
    </div>
    

    <div class="contactform">
    <form>
        
            <table>
                <tr>
                    <td>First name:</td>
                    <td>
                        <input type="text" name="fname" />
                    </td>
                </tr>
                <br>
                <tr>
                    <td>Last name:</td>
                    <td>
                        <input type="text" name="lname" /> 
                    </td>
                </tr>
                <br>
                <tr>
                    <td>Phone number:</td>
                    <td>
                        <input type="number" name="phonenum" /> 
                    </td>
                </tr>
                <br>
                <tr>
                    <td>Email:</td>
                    <td>
                        <input type="email" name="email" />
                    </td>
                <tr>
                <br>
            </table>
            <br>
            <input type="submit" value="Submit">
        
    </form>
    <div>
    <footer>&copy;All rights are reserved</footer>
</body>

</html>
